/* toggle button */

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 23px;
}
  
.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d7666a;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 0px;
  bottom: -1.25px;
  background-color: #5a5a5a;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #65dc50;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* toggle button */


/* button */

.button {
  background-color: #009806;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.5s;
}

.button:hover {
  background-color: #00bd07;
  box-shadow: 0px 7px 18px #888888;
}

/* button */