#jz-popup *,
#jz-popup *::after,
#jz-popup *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

#jz-popup {
    display: block;
    border-radius: 7px;
    box-sizing: border-box;
    position: absolute;
    color: black;
    background-color: #fff;
    padding: 5px;
    z-index: 999999999;
    box-shadow: 3px 5px 18px #888888;
    min-width: 250px;
    max-width: 350px;
    font-size: 19px;
    font-family: serif;
    border: 2px solid black;
    line-height: 25px;
}

#jz-popup.dark{
    background-color: #546e7a;
    color: #fff;
}

#jz-popup #jz-word {
    font-weight: bold;
    line-height: 20px;
}

#jz-popup #jz-search {
    cursor: pointer;
    background-color: #cecece;
    font-size: 17.5px;
    padding: 5px 3px;
    text-align: center;
    transition: all .3s;
    border-radius: 3px;
    line-height: 20px;
}

#jz-popup.dark #jz-search{
    background-color: #4b4b4b;    
}

#jz-popup #jz-search:hover {
    color: white;
    background-color: #737373;
}

#jz-popup.dark #jz-search:hover {
    color: black;
    background-color: #f1f1f1;
}

#jz-popup #juzselect-no-result {
    color: red;
}

#jz-popup.dark #juzselect-no-result {
    color: #ff5d5d;
}

#jz-popup > *:not(:last-child) {
    margin-bottom: 10px;
}