*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
  font-family: sans-serif;
  font-weight: 100;
  width: 280px;
  height: 90px;
  background-color: white;
}

.options {
  display: flex;
  flex-direction: column;
  height: inherit;
}

.options > * {
  margin: 5px;
  padding: 5px;
  height: 50%;
}
 
.options-text{
  font-size: 17px;
  margin-right: 10px;
}

.options-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options-2:hover {
  cursor: pointer;
  background-color: #e0e0e0;
  border-radius: 3px;
}